body {
    background-image: url("meeting\ picture.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    filter: none;
   }
   
.create{ 
    text-align: center;
    font-size: 48px;
}
.temp {
     text-align: center;
font-size: 80px;
font-family: Verdana, Geneva, Tahoma, sans-serif;


}

   