body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #ffffff;

  margin: 0;
}
.main-content {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  height: 100vh;
  margin: 0;
}
.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 0;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}
.logo{
  font-size: 42px;
  font-weight: bolder;
}

.menu{
  float:right;
  padding:10px ;
  position: absolute;
  right: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.create {
  text-align: center;
  font-size: 48px;
  position: relative;
}

.temp {
  text-align: center;
  position: relative;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aquamarine;
  font-weight: bold;
}

.message {
  text-align: center;
  position: relative;
  font-size: 30;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}

.button-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.learn-btn {
  position: relative;
  padding-right: 3rem;
}

.info {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 7rem;
  border-radius: 21px;
  color: green;
  font-style: inherit;
  background-color: white;
}

.plus {
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 7rem;
  border-radius: 21px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(116, 147, 214);
}
